<div>
    <md-sidenav  class="md-sidenav-right md-whiteframe-4dp" md-component-id="right">

        <md-toolbar ng-class="vm.isContrast?'contrast-toolbar':'custom-toolbar'">
            <h1 class="md-toolbar-tools">Sidenav Right</h1>
        </md-toolbar>
        <md-content>

        </md-content>

    </md-sidenav>
</div>