<div ng-class="{'contrast':vm.isContrast}">

    <div layout="row" flex>
        <!--hide-xs  is used to hide section when on mobile like xs stand for width < 600-->
        <section id="leftContent" flex="25" ng-class="{'contrast':vm.isContrast}" hide-xs></section>

        <section id="middleContent" flex="50" flex-xs="100" style="overflow: hidden;">
            <md-card>
                <md-card-content style="padding: 2px;">
                    <contrast></contrast>
                    <div ng-cloak>
                        <md-content>
                            <md-tabs md-dynamic-height md-center-tabs md-swipe-content md-stretch-tabs="always">
                                <md-tab ng-class="{'tabsContrast':vm.isContrast}" label="Login">
                                    <md-content class="md-padding" ng-class="{'contrast':vm.isContrast}">
                                        <form name="myForm" ng-submit="vm.placeOrder(myForm.$valid)" novalidate>
                                            <div flex class="divbottomPadding">
                                                <div flex="100" flex-xs="100" class="divBorder">
                                                    <md-input-container class="md-block" flex-gt-sm>
                                                        <label ng-class="{'contrast textColor':vm.isContrast}" aria-label="Email">Email</label>
                                                        <input ng-model="vm.login.email" type="email" name="email" required ng-class="{'contrast textColor':vm.isContrast}">
                                                        <div ng-if='myForm.email.$touched' ng-messages="myForm.email.$dirty">
                                                            <div aria-label="Please enter email" ng-if="!vm.login.email" ng-message="required" ng-class="{'contrast textColor':vm.isContrast}">Please enter Email</div>
                                                        </div>
                                                    </md-input-container>

                                                </div>
                                                <div flex="100" flex-xs="100" class="divBorder">
                                                    <md-input-container class="md-block" flex-gt-sm>
                                                        <label ng-class="{'contrast textColor':vm.isContrast}" aria-label="password">password</label>
                                                        <input ng-class="{'contrast textColor':vm.isContrast}" type="password" aria-label="password" ng-model="vm.login.password"
                                                            name="password" required>
                                                        <div ng-if='myForm.password.$touched' ng-messages="myForm.password.$error">
                                                            <div ng-class="{'contrast textColor':vm.isContrast}" ng-if="myForm.password.$error.required" ng-message="required" class="my-message"
                                                                aria-label="Please enter Phone no.">Please enter Password.</div>
                                                            <!--<div ng-class="{'contrast textColor':vm.isContrast}" ng-show="myForm.password.$error.pattern" ng-message="pattern" class="my-message"
                                                                aria-label="That doesn't look like a valid Password.">That doesn't look like a valid Password.
                                                            </div>-->
                                                        </div>
                                                    </md-input-container>
                                                </div>
                                                <div flex layout="row">
                                                    <div ng-disabled="myForm.$invalid" flex="50" style="text-align:center; ">
                                                        <md-button aria-label="submit" class="md-raised md-primary" type="submit">Submit</md-button>
                                                    </div>
                                                    <div ng-disabled="myForm.$invalid" flex="50" style="text-align:center; ">
                                                        <md-button aria-label="Forgot password" class="md-raised md-primary" type="submit">Forgot password</md-button>
                                                    </div>
                                                </div>
                                            </div>
                                        </form>
                                    </md-content>
                                </md-tab>
                                <md-tab ng-class="{'tabsContrast':vm.isContrast}" label="Registration">
                                    <md-content class="md-padding">
                                        <md-input-container>
                                            <input mdInput placeholder="label" value="value">
                                        </md-input-container>
                                    </md-content>
                                </md-tab>
                            </md-tabs>
                        </md-content>
                    </div>
                </md-card-content>
            </md-card>
        </section>



        <section id="rightContent" flex="25" ng-class="{'contrast':vm.isContrast}" hide-xs>
        </section>
    </div>
</div>

</div>
<style>
    md-grid-tile-footer figcaption {
        width: 100%;
    }
    
    .contrastButton {
        text-align: end;
    }
    
    .tabsContrast {
        background: #000 !important;
        color: #fff !important
    }
</style>