<div ng-class="{'contrast':vm.isContrast}">

  <div layout="row" flex>
    <!--hide-xs  is used to hide section when on mobile like xs stand for width < 600-->
    <section id="leftContent" flex="25" ng-class="{'contrast':vm.isContrast}" hide-xs></section>

    <section id="middleContent" flex="50" flex-xs="100" style="overflow: hidden;">
      <md-card ng-class="{'contrast':vm.isContrast}">
        <md-card-content>
          <div ng-class="vm.isContrast?'contrast headerProduct cusBorder':'textGreyColor headerProduct cusBorder'">
            <span>CATEGORY</span>
          </div>
          <contrast></contrast>
          <div ng-class="vm.isContrast?'contrast-toolbar':'custom-toolbar'">
            <md-grid-list md-cols="2" md-cols-sm="2" md-cols-md="2" md-cols-gt-md="3" md-row-height-gt-md="1:1" md-row-height="4:4" md-gutter-gt-md="16px"
              md-gutter-gt-sm="8px" md-gutter="4px">

              <md-grid-tile md-colspan-gt-sm="1" md-rowspan-gt-sm="1" ng-repeat="item in vm.dashList | filter:vm.searchtext" aria-label="{{::item.product_name}}"
                ng-click="vm.openProduct(item);">
                <img class="dashImg" ng-src="{{::vm.appSetting.baseImageUrl}}{{::item.image_url}}">
                <md-grid-tile-footer ng-class="!vm.isContrast?'imgFooter mediumFont':'imgFooterContrast mediumFont'">
                  <span style="word-break: break-word;" ng-class="vm.isContrast?'contrast':'textGreyColor'">{{::item.product_name | uppercase}}</span>
                </md-grid-tile-footer>
              </md-grid-tile>
            </md-grid-list>
          </div>
        </md-card-content>
      </md-card>
    </section>



    <section id="rightContent" flex="25" ng-class="{'contrast':vm.isContrast}" hide-xs>
    </section>
  </div>
</div>

</div>
<style>
  md-grid-tile-footer figcaption {
    width: 100%;
  }
  
  .contrastButton {
    text-align: end;
  }
</style>