* {
    outline: none !important;
    user-select: none !important;
}

html {
    font-family: 'Helvetica Neue' !important;
}

.custom-toolbar {
    /*background-color: #970001 !important;*/
    background-color: #fff !important;
    color: #000 !important;
}

.contrast-toolbar {
    background-color: #000 !important;
    color: #fff !important;
}

.md-button.md-icon-button {
    width: 100% !important;
}

.sizeMedium {
    font-size: 24px !important;
}

.contrast {
    background: #000;
    color: #fff !important;
}

.normal {
    background: #fff;
    color: #000;
}

.cusBorder {
    border: 1px solid;
    border-radius: 16px;
    margin-top: 15px;
}

.dashImg {
    width: 90%;
    /*height: 90%;*/

    /*border-radius: 10%;*/
}

.imgFooter {
    /* background: none !important; */
    color: #000 !important;
    text-align: center;
    background: #fff !important;
}

.imgFooterContrast {
    /* background: none !important; */
    color: #fff !important;
    text-align: center;
    background: #000 !important;
}

.headerProduct {
    text-align: center;
    font-size: 50px !important;
}

.textWhiteColor {
    color: #fff !important;
}

.textGreyColor {
    color: #727272 !important;
}

.fullHeight {
    height: 100%;
}

.mediumFont {
    font-size: 22px !important;
}

@media screen and (max-width:350px) {
    .mediumFont {
        font-size: 16px !important;
    }
}

.smallFont {
    font-size: 18px !important;
}

.largeFont {
    font-size: 30px !important;
}

.borderContrast {
    border-top-color: #fff !important;
}

.card-border {
    border: 1px solid !important;
}

#middleContent{
    overflow: hidden !important;
}