<md-toolbar ng-class="vm.isContrast?'contrast-toolbar':'custom-toolbar'" style="min-height: 100px;">

  <div flex layout="row" layout-align="left center">
    <!--Hide when on mobile display when on browser -->
    <div hide-xs flex="25" flex-xs="50" style="text-align: end;" ng-click="vm.keepShoping();">
      <img style="width: auto;height: 50px;vertical-align: middle;" src="assets/images/logo.png" aria-label="logo">
    </div>
    <!--Hide when on browser display when on mobile -->
    <div hide-gt-xs show-xs flex="25" flex-xs="35" style="text-align: start;" ng-click="vm.keepShoping();">
      <img style="width: auto;height: 40px;vertical-align: middle;" src="assets/images/logo.png" aria-label="logo">
    </div>

    <div flex="50" flex-xs="50" style="text-align:center;">
      <input style="width: 100%;" type="search" ng-model="vm.searchText" ng-change="vm.searchTextChange(vm.searchText);" placeholder="Search Item"
        aria-label="Search Item">
    </div>

    <div flex="10" hide-gt-xs flex-xs="10" style="text-align: end;">
      <div ng-click="vm.openDrawer();">
        <i class="fa fa-1x fa-bars"></i>
      </div>
    </div>

    <div hide-xs flex="20" aria-label="Carts">
      <md-menu flex="10" md-position-mode="target-right target">
        <md-button aria-label="Hi Vishal" class="md-icon-button sizeMedium" ng-click="vm.openMenu($mdMenu,$event)">
          <div style="text-align: start;overflow:hidden;">Hi Vishal!
            <i class="fa fa-caret-down"></i>
          </div>
        </md-button>
        <md-menu-content width="4">
          <md-menu-item aria-label="Home" ng-click="vm.openHome();">
            <md-button class="sizeMedium">
              <i class="fa fa-home"> Home </i>
            </md-button>
          </md-menu-item>
          <md-menu-item aria-label="Carts" ng-click="vm.openCarts();">
            <md-button class="sizeMedium">
              <i class="fa fa-shopping-cart"> Carts </i>
            </md-button>
          </md-menu-item>
          <md-menu-item aria-label="orders" ng-click="vm.openCarts();">
            <md-button class="sizeMedium">
              <i class="fa fa-cart-plus"> My orders </i>
            </md-button>
          </md-menu-item>
          <md-menu-item aria-label="Account setting" ng-click="vm.openSetting();">
            <md-button class="sizeMedium">
              <i class="fa fa-cog"> Account setting </i>
            </md-button>
          </md-menu-item>
          <md-menu-divider></md-menu-divider>
          <md-menu-item aria-label="Log out" ng-click="vm.logout();">
            <md-button class="sizeMedium">
              <i class="fa fa-sign-out"></i>
              <span> Log Out </span>
            </md-button>
          </md-menu-item>
        </md-menu-content>
      </md-menu>
    </div>

    <div hide-xs flex="5" layout="column" style="text-align: start;padding-right: 5px;" aria-label="Carts" ng-click="vm.openShoppingCarts();">
      <div>
        <i class="fa fa-2x fa-shopping-cart"></i>
      </div>
    </div>

  </div>
</md-toolbar>
<side-nav></side-nav>
<!--<div>
  <md-sidenav class="md-sidenav-right" md-component-id="right">

    <md-toolbar ng-class="vm.isContrast?'contrast-toolbar':'custom-toolbar'">
      <h1 class="md-toolbar-tools">Sidenav Right</h1>
    </md-toolbar>
    <md-content>

    </md-content>

  </md-sidenav>
</div>-->