<div layout="row" flex>
    <section id="leftContent" flex="25" ng-class="{'contrast':vm.isContrast}" hide-xs>
        <div>

        </div>
    </section>

    <section id="middleContent" flex="50" flex-xs="100" ng-class="{'contrast':vm.isContrast}">
        <contrast></contrast>
        <md-card ng-class="{'contrast card-border':vm.isContrast}">
            <md-card-content>
                <form name="myForm" ng-submit="vm.placeOrder(myForm.$valid)" novalidate>
                    <div flex layout-gt-sm="row" class="divbottomPadding">
                        <div flex="45" flex-xs="100" class="divBorder">
                            <md-input-container class="md-block" flex-gt-sm>
                                <label ng-class="{'contrast textColor':vm.isContrast}" aria-label="Name">Name</label>
                                <input ng-model="vm.user.name" name="userName" required ng-class="{'contrast textColor':vm.isContrast}">
                                <div ng-if='myForm.userName.$touched' ng-messages="myForm.userName.$dirty">
                                    <div aria-label="Please enter name" ng-if="!vm.user.name" ng-message="required" ng-class="{'contrast textColor':vm.isContrast}">Please enter name</div>
                                </div>
                            </md-input-container>

                        </div>
                        <div flex="15" flex-xs="100"> </div>
                        <div flex="40" flex-xs="100" class="divBorder">
                            <md-input-container class="md-block" flex-gt-sm>
                                <label ng-class="{'contrast textColor':vm.isContrast}" aria-label="Phone">Phone</label>
                                <input ng-class="{'contrast textColor':vm.isContrast}" type="tel" aria-label="user.phone" ng-model="vm.user.phone" name="mobile_number"
                                    ng-pattern="/^[7-9][0-9]{9}$/" required>
                                <div ng-if='myForm.mobile_number.$touched' ng-messages="myForm.mobile_number.$error">
                                    <div ng-class="{'contrast textColor':vm.isContrast}" ng-if="myForm.mobile_number.$error.required" ng-message="required" class="my-message"
                                        aria-label="Please enter Phone no.">Please enter Phone no.</div>
                                    <div ng-class="{'contrast textColor':vm.isContrast}" ng-show="myForm.mobile_number.$error.pattern" ng-message="pattern" class="my-message"
                                        aria-label="That doesn't look like a valid Phone no.">That doesn't look like a valid Phone no.
                                    </div>
                                </div>
                            </md-input-container>
                        </div>


                    </div>

                    <div flex layout-gt-sm="row" class="divbottomPadding">
                        <div flex="45" flex-xs="100" class="divBorder">
                            <md-input-container class="md-block" flex-gt-sm>
                                <label ng-class="{'contrast textColor':vm.isContrast}" aria-label="pincode">pincode</label>
                                <input ng-class="{'contrast textColor':vm.isContrast}" ng-model="vm.user.postalCode" name="postalCode" placeholder="12345"
                                    required ng-pattern="/^[0-9]{6}$/" maxlength="6">
                                <div ng-if='myForm.postalCode.$touched' ng-messages="myForm.postalCode.$error">
                                    <div ng-class="{'contrast textColor':vm.isContrast}" ng-if="myForm.postalCode.$error.required" ng-message="required" class="my-message"
                                        aria-label="You must supply a postal code.">You must supply a postal code.</div>
                                    <div ng-class="{'contrast textColor':vm.isContrast}" ng-show="myForm.postalCode.$error.pattern" ng-message="pattern" class="my-message">That doesn't look like a valid postal code.
                                    </div>
                                </div>
                            </md-input-container>

                        </div>
                        <div flex="15" flex-xs="100"> </div>
                        <div flex="40" flex-xs="100" class="divBorder">
                            <md-input-container class="md-block" flex-gt-sm>
                                <label ng-class="{'contrast textColor':vm.isContrast}">Locality</label>
                                <input ng-class="{'contrast textColor':vm.isContrast}" type="text" ng-model="vm.user.locality" name="locality" required>
                                <div ng-if='myForm.locality.$touched' ng-messages="myForm.locality.$error">
                                    <div ng-class="{'contrast textColor':vm.isContrast}" ng-if="myForm.locality.$error.required" ng-message="required" class="my-message">Please enter Locality.</div>
                                </div>
                            </md-input-container>
                        </div>


                    </div>

                    <div flex layout-gt-sm="row" class="divbottomPadding">
                        <div flex="45" flex-xs="100" class="divBorder">
                            <md-input-container style="padding-bottom: 25px;">
                                <label ng-class="{'contrast textColor':vm.isContrast}">State</label>
                                <md-select ng-model="vm.state" name="state" required>
                                    <md-option ng-repeat="state in vm.stateList" ng-value="state.state" ng-class="{'contrast textColor':vm.isContrast}">
                                        {{state.state}}
                                    </md-option>
                                </md-select>
                                <div ng-if="myForm.state.$touched" ng-message="myForm.state.$error">
                                    <div ng-if="!vm.state" ng-class="{'contrast textColor':vm.isContrast}" ng-message="required" class="my-message">Please select State</div>
                                </div>
                            </md-input-container>

                        </div>
                        <div flex="15" flex-xs="100"> </div>
                        <div flex="40" flex-xs="100" class="divBorder" ng-if="vm.state">

                            <md-input-container style="padding-bottom: 25px;">
                                <label ng-class="{'contrast textColor':vm.isContrast}">City</label>
                                <md-select ng-model="vm.city" name="city" required>
                                    <md-option ng-repeat="state in vm.stateList | filter:{'state':vm.state}" ng-value="state.name" ng-class="{'contrast textColor':vm.isContrast}">
                                        {{state.name}}
                                    </md-option>
                                </md-select>
                                <div ng-if="myForm.city.$touched" ng-message="myForm.city.$error" class="errors">
                                    <div ng-class="{'contrast textColor':vm.isContrast}" ng-if="!vm.city" ng-message="required" class="my-message">Please select City</div>
                                </div>
                            </md-input-container>
                        </div>


                    </div>





                    <div flex layout-gt-sm="row" class="divbottomPadding">
                        <div flex flex-xs="100" class="divBorder">
                            <md-input-container class="md-block" flex-gt-sm>
                                <label ng-class="{'contrast textColor':vm.isContrast}">Address</label>
                                <textarea ng-class="{'contrast textColor':vm.isContrast}" rows="4" cols="10" tabindex="5" ng-model="vm.user.address" name="address"></textarea>
                                <div ng-if='myForm.address.$touched' ng-messages="myForm.address.$error">
                                    <div ng-class="{'contrast textColor':vm.isContrast}" ng-if="myForm.address.$error.required" ng-message="required" class="my-message">Please enter Address.</div>
                                </div>
                            </md-input-container>

                        </div>
                    </div>



                    <div style="margin-bottom: 25px;" ng-class="vm.isContrast?'contrast headerProduct':'textGreyColor headerProduct'" aria-label="Shipping address">
                        <span>Shipping Address</span>
                    </div>
                    <div flex layout="row" style="text-align: end;margin-top: 25px;">
                        <div flex="30" style="text-align:end; ">
                            <md-checkbox md-no-ink aria-label="click to keep same address" ng-model="vm.sameShippingAddress">
                            </md-checkbox>
                        </div>
                        <div flex="60" class="sizeMedium" style="text-align: start">
                            <span aria-label="Same Address as above for shipping">Same Address as above for shipping</span>
                        </div>
                        <div flex="10"></div>
                    </div>

                    <div ng-if="!vm.sameShippingAddress">
                        <div flex layout-gt-sm="row" class="divbottomPadding">
                            <div flex="45" flex-xs="100" class="divBorder">
                                <md-input-container class="md-block" flex-gt-sm>
                                    <label ng-class="{'contrast textColor':vm.isContrast}">Name</label>
                                    <input ng-model="vm.user.shippingUserName" name="shippingUserName" required ng-class="{'contrast textColor':vm.isContrast}">
                                    <div ng-if='myForm.shippingUserName.$touched' ng-messages="myForm.shippingUserName.$dirty">
                                        <div ng-if="!vm.user.shippingUserName" ng-message="required" ng-class="{'contrast textColor':vm.isContrast}">Please enter name</div>
                                    </div>
                                </md-input-container>

                            </div>
                            <div flex="15" flex-xs="100"> </div>
                            <div flex="40" flex-xs="100" class="divBorder">
                                <md-input-container class="md-block" flex-gt-sm>
                                    <label ng-class="{'contrast textColor':vm.isContrast}">Phone</label>
                                    <input ng-class="{'contrast textColor':vm.isContrast}" type="tel" ng-model="vm.user.shippingPhone" name="shippingPhone" ng-pattern="/^[7-9][0-9]{9}$/"
                                        required>
                                    <div ng-if='myForm.shippingPhone.$touched' ng-messages="myForm.shippingPhone.$error">
                                        <div ng-class="{'contrast textColor':vm.isContrast}" ng-if="myForm.shippingPhone.$error.required" ng-message="required" class="my-message">Please enter Phone no.</div>
                                        <div ng-class="{'contrast textColor':vm.isContrast}" ng-show="myForm.shippingPhone.$error.pattern" ng-message="pattern" class="my-message">That doesn't look like a valid Phone no.
                                        </div>
                                    </div>
                                </md-input-container>
                            </div>


                        </div>

                        <div flex layout-gt-sm="row" class="divbottomPadding">
                            <div flex="45" flex-xs="100" class="divBorder">
                                <md-input-container class="md-block" flex-gt-sm>
                                    <label ng-class="{'contrast textColor':vm.isContrast}">pincode</label>
                                    <input ng-class="{'contrast textColor':vm.isContrast}" ng-model="vm.user.shippingPostalCode" name="shippingPostalCode" placeholder="12345"
                                        required ng-pattern="/^[0-9]{6}$/" maxlength="6">
                                    <div ng-if='myForm.shippingPostalCode.$touched' ng-messages="myForm.shippingPostalCode.$error">
                                        <div ng-class="{'contrast textColor':vm.isContrast}" ng-if="myForm.shippingPostalCode.$error.required" ng-message="required"
                                            class="my-message">You must supply a postal code.</div>
                                        <div ng-class="{'contrast textColor':vm.isContrast}" ng-show="myForm.shippingPostalCode.$error.pattern" ng-message="pattern"
                                            class="my-message">That doesn't look like a valid postal code.
                                        </div>
                                    </div>
                                </md-input-container>

                            </div>
                            <div flex="15" flex-xs="100"> </div>
                            <div flex="40" flex-xs="100" class="divBorder">
                                <md-input-container class="md-block" flex-gt-sm>
                                    <label ng-class="{'contrast textColor':vm.isContrast}">Locality</label>
                                    <input ng-class="{'contrast textColor':vm.isContrast}" type="text" ng-model="vm.user.shippingLocality" name="shippingLocality"
                                        required>
                                    <div ng-if='myForm.shippingLocality.$touched' ng-messages="myForm.shippingLocality.$error">
                                        <div ng-class="{'contrast textColor':vm.isContrast}" ng-if="myForm.shippingLocality.$error.required" ng-message="required"
                                            class="my-message">Please enter Locality.</div>
                                    </div>
                                </md-input-container>
                            </div>


                        </div>

                        <!--<div flex layout-gt-sm="row" class="divbottomPadding">
                            <div flex="45" flex-xs="100" class="divBorder">
                                <md-input-container style="padding-bottom: 25px;">
                                    <label ng-class="{'contrast textColor':vm.isContrast}">State</label>
                                    <md-select ng-model="vm.ShippingState" name="shippingState" required>
                                        <md-option ng-repeat="shippingState in vm.shippingStateList" ng-value="shippingState.state" ng-class="{'contrast textColor':vm.isContrast}">
                                            {{shippingState.state}}
                                        </md-option>
                                    </md-select>
                                    <div ng-if="myForm.shippingState.$touched" ng-message="myForm.shippingState.$error">
                                        <div ng-if="vm.shippingState!=''" ng-class="{'contrast textColor':vm.isContrast}" ng-message="required" class="my-message">Please select State</div>
                                    </div>
                                </md-input-container>

                            </div>
                            <div flex="15" flex-xs="100"> </div>
                            <div flex="40" flex-xs="100" class="divBorder" ng-if="vm.ShippingState">
                                    Ashishadgsakjfdh{{vm.shippingStateList}}
                                <md-input-container style="padding-bottom: 25px;">

                                    <label ng-class="{'contrast textColor':vm.isContrast}">City</label>
                                    Ashish---{{vm.ShippingState}}--city{{vm.shippingCity}}
                                    <md-select ng-model="vm.shippingCity" name="shippingCity" required>
                                        <md-option ng-repeat="shippingCity in vm.shippingStateList | filter:{'state':vm.shippingState}" ng-value="shippingCity.name" ng-class="{'contrast textColor':vm.isContrast}">
                                            {{shippingCity.name}}
                                        </md-option>
                                    </md-select>
                                    <div ng-if="myForm.shippingCity.$touched" ng-message="myForm.shippingCity.$error" class="errors">
                                        <div ng-class="{'contrast textColor':vm.isContrast}" ng-if="!vm.shippingCity" ng-message="required" class="my-message">Please select City</div>
                                    </div>
                                </md-input-container>
                            </div>
                        </div>-->
                        <div flex layout-gt-sm="row" class="divbottomPadding">
                            <div flex flex-xs="100" class="divBorder">
                                <md-input-container class="md-block" flex-gt-sm>
                                    <label ng-class="{'contrast textColor':vm.isContrast}">Address</label>
                                    <textarea ng-class="{'contrast textColor':vm.isContrast}" rows="4" cols="10" tabindex="5" ng-model="vm.user.shippingAddress"
                                        name="shippingAddress"></textarea>
                                    <div ng-if='myForm.shippingAddress.$touched' ng-messages="myForm.shippingAddress.$error">
                                        <div ng-class="{'contrast textColor':vm.isContrast}" ng-if="myForm.shippingAddress.$error.required" ng-message="required"
                                            class="my-message">Please enter Address.</div>
                                    </div>
                                </md-input-container>

                            </div>
                        </div>

                    </div>


            </md-card-content>
        </md-card>
        <md-card ng-class="{'contrast card-border':vm.isContrast}">
            <md-card-content>
                <div>
                    <div style="margin-bottom: 25px;" ng-class="vm.isContrast?'contrast headerProduct':'textGreyColor headerProduct'" aria-label="Shipping address">
                        <span>PAYMENT METHOD</span>
                    </div>
                    <div flex layout="row" style="text-align: center">
                        <div flex style="margin-right: 25px;" ng-repeat="item in vm.paymentsMethods | filter:'4'" ng-click="vm.paymentMethodSelected(item);">
                            <img class="dashImg" style="width: 100%;height: 90%;border: 1px solid;" src="{{item.icon}}">
                        </div>
                    </div>

                    <div flex layout="row" style="text-align: center;margin-top: 25px;">
                        <div flex="10" style="text-align:end; ">
                            <md-checkbox md-no-ink aria-label="Checkbox No Ink" ng-model="vm.selected" class="md-primary">
                            </md-checkbox>
                        </div>
                        <div flex="90" class="sizeMedium" style="text-align: start">
                            <span>I have Read and accepted the terms & conditions</span>
                        </div>
                    </div>
                    <div flex layout="row" style="text-align: center;margin-top: 25px;">
                        <div flex="50" style="text-align:center; " ng-click="vm.historyBack();">
                            <md-button class="md-raised md-primary">Back</md-button>
                        </div>
                        <div ng-disabled="myForm.$invalid && vm.selected==false" flex="50" style="text-align:center; ">
                            <md-button class="md-raised md-primary" type="submit">place Order</md-button>
                        </div>
                    </div>

                </div>
            </md-card-content>
        </md-card>
        </form>
    </section>
    <section id="rightContent" flex="25" ng-class="{'contrast':vm.isContrast}" hide-xs>
        <div>

        </div>
    </section>
</div>
<style>
    /*.stateItem {
        width: 100% !important;
    }
    */
    
    md-grid-tile-footer figcaption {
        width: 100%;
    }
    
    md-input-container {
        margin: 0px !important;
        width: 100% !important;
    }
    
    .divBorder {
        border: 1px solid;
        padding-top: 25px;
    }
    
    .divbottomPadding {
        padding-bottom: 30px;
    }
    
    .textColor {
        color: #fff;
    }
    
    .my-message {
        color: #e22b3f;
    }
    
    label {
        font-size: 25px;
    }
</style>