<div layout="row" flex>
  <section id="leftContent" flex="20" ng-class="{'contrast':vm.isContrast}" hide-xs>
  </section>

  <section id="middleContent" flex="60" flex-xs="100" ng-class="vm.isContrast?'contrast mediumFont':'textGreyColor mediumFont'">
    <div style="line-height: 2em">
      <md-card ng-class="{'contrast':vm.isContrast}">
        <md-card-content>

          <contrast></contrast>
          <div layout="row" flex>
            <div flex="10">
              <img style="width: 55px;height: 55px;" class="dashImg" ng-src="{{::vm.appSetting.baseImageUrl}}{{::vm.selectedProduct.image_url}}">
            </div>
            <div flex="45" ng-class="vm.isContrast?'contrast mediumFont':'textGreyColor mediumFont'" aria-label="{{::vm.selectedProduct.product_name}}"
              style="text-align: start;">
              <span>{{::vm.selectedProduct.product_name}}</span>
            </div>
            <div flex="25" ng-class="vm.isContrast?'contrast mediumFont':'textGreyColor mediumFont'" style="text-align: center;max-height: 50px;"
              aria-label="Add to Cart" ng-click="vm.addToCart(vm.selectedProduct);">
              <md-button style="width:100%;height: 100%;" class="md-raised md-primary">Add to Basket</md-button>
            </div>
            <div flex="20" ng-class="vm.isContrast?'contrast mediumFont':'textGreyColor mediumFont'" aria-label="{{vm.selectedProduct.cost}}"
              style="text-align: end;padding-top: 10px;">
              <span>{{::vm.selectedProduct.cost | currency:"₹":0}}</span>
            </div>
          </div>

          <md-divider style="margin-top: 15px;margin-bottom: 35px;"></md-divider>

          <div style="text-align: center;">
            <ks-swiper-container initial-slide="1" loop="true" show-nav-buttons="false" slides-per-view="3" space-between="5" pagination-clickable="false">
              <ks-swiper-slide class="swiper-slide" ng-repeat="item in vm.list">
                <div>
                  <img class="dashImg" ng-src="{{::item.img}}">
                </div>

              </ks-swiper-slide>
            </ks-swiper-container>
          </div>
        </md-card-content>
      </md-card>
      <md-card>
        <md-card-content ng-class="{'contrast':vm.isContrast}">
          <div>
            <div ng-class="vm.isContrast?'contrast headerProduct':'textGreyColor headerProduct'" style="text-align: center;margin-top: 25px;margin-bottom: 25px;"
              aria-label="product Details">
              <span>Product Details</span>
            </div>
            <md-divider></md-divider>
            <div ng-class="vm.isContrast?'contrast mediumFont':'textGreyColor mediumFont'" style="line-height: 2.2em;text-align: justify;"
              aria-label="{{::vm.selectedProduct.descp}}">
              <span>{{::vm.selectedProduct.descp}}</span>
            </div>
          </div>
          <div ng-class="vm.isContrast?'contrast headerProduct':'textGreyColor headerProduct'" style="text-align: center;margin-top: 25px;"
            aria-label="Download User Guide">
            <div>
              <a style="color: gray;" href="">DOWNLOAD USER GUIDE</a>
            </div>
          </div>
        </md-card-content>
      </md-card>

      <md-card id="audioAndvideo">
        <md-card-content ng-class="{'contrast':vm.isContrast}">
          <div style="text-align: center;" id="video">
            <div ng-class="vm.isContrast?'contrast mediumFont':'textGreyColor mediumFont'" style="font-weight: bold;">
              <span>Video Description</span>
            </div>
            <md-divider style="margin-top: 15px;margin-bottom: 15px;"></md-divider>
            <div>
              <ks-swiper-container initial-slide="1" loop="true" show-nav-buttons="true" slides-per-view="3" space-between="5" pagination-clickable="false">
                <ks-swiper-slide class="swiper-slide" ng-repeat="item in vm.videosImages">
                  <img class="dashImg" ng-src="{{::item.icon}}">
                </ks-swiper-slide>
              </ks-swiper-container>
            </div>
          </div>

          <div id="audio">
            <div ng-class="vm.isContrast?'contrast headerProduct':'textGreyColor headerProduct'" style="text-align: center;margin-top: 25px;"
              aria-label="Audio Reviews">
              <span>Audio Reviews</span>
            </div>
            <md-divider style="margin-top: 5px;"></md-divider>

            <div>
              <md-list class="md-dense" flex ng-class="{'contrast':vm.isContrast}">
                <md-list-item class="md-2-line" ng-repeat="item in vm.reviewsList">
                  <img style="width: 150px;height: 120px;" ng-src="{{::item.img}}" class="md-avatar" aria-label="{{::item.name}}" alt="{{::item.name}}"
                  />
                  <div class="md-list-item-text" layout="column">
                    <p ng-class="vm.isContrast?'contrast mediumFont':'textGreyColor mediumFont'" aria-label="{{::item.name }}">{{::item.name }}</p>
                    <p ng-class="vm.isContrast?'contrast smallFont':'textGreyColor smallFont'" aria-label="{{::item.review}}">{{::item.review }}</p>
                  </div>
                  <md-divider ng-if="!$last"></md-divider>
                </md-list-item>
              </md-list>
            </div>
          </div>
        </md-card-content>
      </md-card>

      <md-card>
        <md-card-content ng-class="{'contrast':vm.isContrast}">
          <div>
            <div ng-class="vm.isContrast?'contrast mediumFont':'textGreyColor mediumFont'" style="text-align: center;font-weight: bold;">
              <span>Recommended Products</span>
            </div>
            <md-divider style="margin-top: 15px;margin-bottom: 15px;"></md-divider>

            <md-grid-list md-cols-xs="3" md-cols-sm="3" md-cols-md="3" md-cols-gt-md="3" md-row-height-gt-md="2:2" md-row-height="2:2"
              md-gutter="25px" md-gutter-gt-sm="25px">
              <md-grid-tile ng-repeat="item in vm.getSuggestedList" aria-label="{{::item.name}}">
                <img class="dashImg" src="{{::item.img}}">
              </md-grid-tile>
            </md-grid-list>

          </div>

          <div>
            <div ng-class="vm.isContrast?'contrast headerProduct':'textGreyColor headerProduct'" style="text-align: center;margin-top: 25px;"
              aria-label="product Details">
              <span>Repair</span>
            </div>
            <md-divider style="margin-top: 15px;margin-bottom: 15px;"></md-divider>
            <div style="line-height: 2.2em;text-align: justify;" aria-label="{{::vm.selectedProduct.descp}}" ng-class="vm.isContrast?'contrast mediumFont':'textGreyColor mediumFont'">
              <p>
                This section will give you information about where/how to get your device repaired if it breaks down including troubleshouting
                tips,contact information and live customer support
              </p>
            </div>
          </div>
        </md-card-content>
      </md-card>




      <div>
  </section>


  <section ng-class="{'contrast':vm.isContrast}" id="rightContent" flex="20" hide-xs>
  </section>

  </div>
  <style>
    .dashImg {
      max-width: 100%;
      border-radius: 10%;
      border: 1px solid;
    }
    
    .imgFooter {
      background: none !important;
      color: #000 !important;
      /*padding-top: 05px;*/
    }
    
    .headerProduct {
      text-align: center;
      font-size: 34px;
    }
    
    .textWhiteColor {
      color: #fff;
    }
    
    .textGreyColor {
      color: #727272;
    }
  </style>