<!--<div ng-style="{'background':vm.colorSetting.background,'color':vm.colorSetting.color}">-->

<div layout="row" flex>
  <section id="leftContent" flex="20" ng-class="{'contrast':vm.isContrast}" hide-xs>
  </section>

  <section id="middleContent" flex="80" flex-xs="100" ng-class="{'contrast':vm.isContrast}" ng-if="vm.cartsList">
    <contrast></contrast>
    <md-card ng-class="{'contrast':vm.isContrast}">
      <md-card-content style="line-height: 2em">
        <div ng-class="vm.isContrast?'contrast headerProduct':'textGreyColor headerProduct'" style="text-align: center;margin-top: 25px;">
          <span>Shopping Carts</span>
        </div>
        <div style="margin-top: 25px;">
          <div ng-repeat="item in vm.cartsList | filter:vm.searchText" flex layout="column">
            <div layout="row">
              <div flex="20" aria-label="{{::item.product_name}}">
                <img style="width: 120px;height: 120px;border-radius: 50%;border: 1px solid;" ng-src="{{::vm.appSetting.baseImageUrl}}{{::item.image_url}}"
                  class="md-avatar" alt="{{item.product_name}}" />
              </div>
              <div flex="80" layout="column">
                <div flex="80" layout="row" style="padding-top: 15px;">
                  <span flex="45" ng-class="vm.isContrast?'contrast mediumFont':'textGreyColor mediumFont'">{{::item.product_name }}</span>
                  <div flex="10" ng-class="vm.isContrast?'contrast smallFont':'textGreyColor smallFont'" style="text-align: center;">
                    <span>Price</span>
                  </div>
                  <div flex="5" style="text-align:start;">:</div>
                  <div flex="20" ng-class="vm.isContrast?'contrast smallFont':'textGreyColor smallFont'">
                    <span ng-bind="item.cost | currency:' ₹ ':0"></span>
                  </div>
                </div>

                <div flex="80" layout="row">
                  <div flex="45" ng-click="vm.removeitem(item)">
                    <md-button class="md-raised md-warn">Remove</md-button>
                  </div>
                  <div flex="10" style="text-align: center;font-size: 1.5em;">
                    <i class="fa fa-minus-circle" aria-hidden="true"></i>
                  </div>
                  <div flex="10" ng-class="vm.isContrast?'contrast smallFont':'textGreyColor smallFont'" style="width: 46px;">
                    <input style="width: 70%;padding: 1px;text-align: center;" type="number" min="1" ng-model="item.qty" ng-change="vm.quantityChange();">
                  </div>
                  <div flex="10" style="text-align: start;font-size: 1.5em;">
                    <i class="fa fa-plus-circle " aria-hidden="true"></i>
                  </div>

                </div>
              </div>
            </div>
            <md-divider ng-class="vm.isContrast?'contrast borderContrast':'textGreyColor'" style="margin-bottom: 5px;"></md-divider>
          </div>

          <div ng-if="vm.cartsList.length==0">
            <div style="text-align: center;font-size: 1.5em;padding: 25px;">
              <span>Your Shopping Cart is empty</span>
            </div>
          </div>

          <div flex>
            <div flex layout="row">
              <div flex="40"></div>

              <div flex="25" style="text-align: end;;padding-right: 15px;" ng-class="vm.isContrast?'contrast smallFont':'textGreyColor smallFont'">
                <span>Sub-total</span>
              </div>
              <div flex="5" style="text-align:start;">
                <span>:</span>
              </div>
              <div flex="30" style="text-align:start" ng-class="vm.isContrast?'contrast smallFont':'textGreyColor smallFont'">
                <span>{{vm.subTotal | currency:"₹":0}}</span>
              </div>
            </div>
          </div>
          <md-divider ng-class="vm.isContrast?'contrast borderContrast':'textGreyColor'" style="margin-top: 5px;"></md-divider>
          <div flex>
            <div flex layout="row">
              <div flex="40"></div>
              <div flex="25" style="text-align: end;;padding-right: 15px;" ng-class="vm.isContrast?'contrast smallFont':'textGreyColor smallFont'">
                <span>Shipping</span>
              </div>
              <div flex="5" style="text-align: start">
                <span>:</span>
              </div>
              <div flex="30" style="text-align:start" ng-class="vm.isContrast?'contrast smallFont':'textGreyColor smallFont'">
                <span>{{vm.shippingCharge | currency:"₹":0}}</span>
              </div>
            </div>
          </div>
          <md-divider ng-class="vm.isContrast?'contrast borderContrast':'textGreyColor'" style="margin-top: 5px;"></md-divider>
          <div flex>
            <div flex layout="row">
              <div flex="40"></div>
              <div flex="25" style="text-align: end;;padding-right: 15px;" ng-class="vm.isContrast?'contrast smallFont':'textGreyColor smallFont'">
                <span>Total</span>
              </div>
              <div flex="5" style="text-align: start">
                <span>:</span>
              </div>
              <div flex="30" style="text-align:start" ng-class="vm.isContrast?'contrast smallFont':'textGreyColor smallFont'">
                <span>{{vm.total | currency:"₹":0}}</span>
              </div>
            </div>
          </div>
          <md-divider ng-class="vm.isContrast?'contrast borderContrast':'textGreyColor'" style="margin-top: 5px;margin-bottom: 25px;"></md-divider>
          <div flex>
            <div flex layout="row">
              <div flex="50" style="text-align: end;text-align: end" ng-click="vm.keppShoping();" aria-label="Keep Shopping">
                <md-button class="md-raised md-primary">Keep Shopping</md-button>

              </div>
              <!--<div flex="30" style="text-align: center" aria-label="Update Cart">
                <md-button class="md-raised md-primary">Update Cart</md-button>

              </div>-->
              <div flex="50" style="text-align:start;text-align: start" aria-label="Checkout" ng-click="vm.checkout();">
                <md-button class="md-raised md-primary">Pay Now</md-button>

              </div>
            </div>
          </div>
        </div>
      </md-card-content>
    </md-card>
  </section>
</div>

<!--</div>-->
<style>
  .dashImg {
    max-width: 100%;
    border-radius: 10%;
  }
  
  .imgFooter {
    background: none !important;
    color: #000 !important;
    /*padding-top: 05px;*/
  }
  
  .textWhiteColor {
    color: #fff;
  }
</style>