<div layout="row" flex ng-if="vm.showDom">
  <section id="leftContent" flex="20" hide-xs ng-class="{'contrast':vm.isContrast}">
    <div>

    </div>
  </section>

  <section id="middleContent" flex="60" flex-xs="100" ng-class="{'contrast':vm.isContrast}">
    <div style="line-height: 2em" style="margin-top: 25px;  ">
      <div style="text-align: center" ng-class="vm.isContrast?'contrast headerProduct':'textGreyColor headerProduct'">
        <span>PRODUCTS</span>
      </div>
      <div style="text-align: center; margin-top: 25px;" ng-class="vm.isContrast?'contrast mediumFont':'textGreyColor mediumFont'">
        <span>Your Search For "{{::vm.type}}" Returned {{::vm.productList.length}} Results:</span>
      </div>
      <contrast></contrast>
      <div>
        <md-list flex>
          <md-list-item ng-class="{'listColor':$index==vm.onIndex}" ng-repeat=" item in vm.productList | filter:vm.searchText" ng-mouseenter="vm.mouseEnter($index);"
            ng-click="vm.openProductDetails(item);">
            <div>
              <img style="width: 150px;height: 150px;margin-top: 20px;" ng-src="{{::vm.appSetting.baseImageUrl}}{{::item.image_url}}" class="md-avatar"
                alt="{{item.product_name}}" />
            </div>
            <div style="margin-top:0px;text-align: start;width: 100%;">
              <div ng-class="vm.isContrast?'contrast largeFont':'textGreyColor largeFont'" style="text-align: start;" aria-label="{{::item.product_name}}"
                flex>
                <span>{{::item.product_name}}</span>
              </div>
              <div layout="row" flex ng-class="vm.isContrast?'contrast mediumFont':'textGreyColor mediumFont'">
                <span flex="30" style="text-align: start;">Catalog</span>
                <span flex="5" style="text-align: start;">:</span>
                <span flex="65" style="text-align: start">{{::item.catalog}}</span>
              </div>
              <div>
                <div layout="row" flex ng-class="vm.isContrast?'contrast mediumFont':'textGreyColor mediumFont'">
                  <span flex="30" style="text-align: start;">Price</span>
                  <span flex="5" style="text-align: start;">:</span>
                  <span flex="65" style="text-align: start">{{::item.cost | currency:"₹":0}}</span>
                </div>
              </div>
            </div>
            <md-divider ng-if="!$last"></md-divider>

          </md-list-item>
        </md-list>
      </div>
    </div>
  </section>
  <section id="rightContent" flex="20" hide-xs ng-class="{'contrast':vm.isContrast}">
    <div>

    </div>
  </section>
</div>
<style>
  .dashImg {
    max-width: 100%;
    border-radius: 10%;
  }
  
  .smallImg {
    width: 100px;
    height: 100px;
  }
  
  .largeImg {
    width: 150px;
    height: 150px;
    margin-top: 20px;
  }
  
  .imgFooter {
    background: none !important;
    color: #000 !important;
    /*padding-top: 05px;*/
  }
  
  .headerProduct {
    text-align: center;
    font-size: 34px;
  }
  
  .textWhiteColor {
    color: #fff;
  }
  
  
  .listColor {
    background: rgba(230, 229, 229, 0.54);
  }
</style>