<!--<div ng-style="{'background':vm.colorSetting.background,'color':vm.colorSetting.color}">-->

<div layout="row" flex>
  <section id="leftContent" flex="20">
  </section>

  <section id="middleContent" flex="60">
    <div style="line-height: 2em">
      <md-card>
        <md-card-content>
          <div ng-class="vm.isContrast?'contrast headerProduct':'textGreyColor headerProduct '" aria-label="Ordered Confirmed Header">
            <span>ORDERED CONFIRMED</span>
          </div>
          <div layout="column" flex id="details" style="margin-top:25px;">
            <div flex layout="row">
              <div flex="20" style="text-align: end;font-weight: bold" aria-label="Order">
                <span>Order #</span>
              </div>
              <div flex="10" style="text-align: center">
                <span>:</span>
              </div>
              <div flex="70" style="text-align: start" aria-label="Order Id">
                <span>44958682958</span>
              </div>
            </div>

            <div flex layout="row">
              <div flex="20" style="text-align: end;font-weight: bold" aria-label="Placed on">
                <span>Placed On</span>
              </div>
              <div flex="10" style="text-align: center">
                <span>:</span>
              </div>
              <div flex="70" style="text-align: start" aria-label="Date">
                <span>{{vm.todayDate | date:'d/M/yyyy'}}</span>
              </div>
            </div>

            <div flex layout="row">
              <div flex="20" style="text-align: end;font-weight: bold" aria-label="Status">
                <span>Status</span>
              </div>
              <div flex="10" style="text-align: center">
                <span>:</span>
              </div>
              <div flex="70" style="text-align: start" aria-label="Pending Shipment">
                <span>Pending Shipment</span>
              </div>
            </div>

            <md-divider style="margin-top: 15px;"></md-divider>
            <div flex layout="row">
              <div flex="20" style="text-align: end;font-weight: bold" aria-label="Shipping Address">
                <span>Shipping Address</span>
              </div>
              <div flex="10" style="text-align: center">
                <span>:</span>
              </div>
              <div flex="70" style="text-align: start" aria-label="Address">
                <p style="margin: 0px;">Vishal Jain<br>Unit #001,Ground Floor,A-wing<br>Dynasty Bussiness Park,Jb Nagar<br>Mumbai,Maharashtra - 400059</p>
              </div>
            </div>

            <md-divider style="margin-top: 15px;"></md-divider>
            <div flex layout="row">
              <div flex="20" style="text-align: end;font-weight: bold" aria-label="Shipping Address">
                <span>Billing Address</span>
              </div>
              <div flex="10" style="text-align: center">
                <span>:</span>
              </div>
              <div flex="70" style="text-align: start" aria-label="Address">
                <p style="margin: 0px;">Vishal Jain<br>Unit #001,Ground Floor,A-wing<br>Dynasty Bussiness Park,Jb Nagar<br>Mumbai,Maharashtra - 400059</p>
              </div>
            </div>
            <md-divider style="margin-top: 15px;"></md-divider>
            <div flex layout="row">
              <div flex="20" style="text-align: end;font-weight: bold" aria-label="Shipping Method">
                <span>Shipping Method</span>
              </div>
              <div flex="10" style="text-align: center">
                <span>:</span>
              </div>
              <div flex="70" style="text-align: start" aria-label="Lightweight Package">
                <span>Lightweight Package</span>
              </div>
            </div>
            <md-divider style="margin-top: 15px;"></md-divider>
            <div flex layout="row">
              <div flex="20" style="text-align: end;font-weight: bold" aria-label="Payment Method">
                <span>Payment Method</span>
              </div>
              <div flex="10" style="text-align: center">
                <span>:</span>
              </div>
              <div flex="70" style="text-align: start" aria-label="MasterCard">
                <span>Cssh on Delivery</span>
              </div>
            </div>
          </div>
        </md-card-content>
      </md-card>
      <md-card>
        <md-card-content>
          <div>
            <div ng-repeat="item in vm.cartsList" flex layout="column">
              <div layout="row">
                <div flex="20" aria-label="{{item.name}}">
                  <img style="width: 120px;height: 120px;border-radius: 50%;border: 1px solid;" ng-src="{{item.img}}" class="md-avatar" alt="{{item.name}}"
                  />
                </div>
                <div flex="80" layout="column">
                  <div flex="80" layout="row" style="padding-top: 15px;">
                    <span flex="45" style="font-size: 25px;">{{ item.name }}</span>
                    <div flex="20" style="text-align: end;font-size: 15px;">
                      <span>Price</span>
                    </div>
                    <div flex="5" style="text-align: center;">:</div>
                    <div flex="10">
                      <span ng-bind="vm.getPrice(item.Price,item.quantity) | currency:'₹':0"></span>
                    </div>
                  </div>

                  <div flex="80" layout="row">
                    <div flex="65" style="text-align: end;font-size: 15px;">
                      <span>Quantity</span>
                    </div>
                    <div flex="5" style="text-align: center">
                      <span>:</span>
                    </div>
                    <div flex="10">
                      <span style="width: 50%;">{{item.quantity}}</span>
                    </div>
                  </div>
                </div>
              </div>
              <md-divider class="marginTopBottm15"></md-divider>
            </div>

            <div flex>
              <div flex layout="row">
                <div flex="70" style="text-align: end">
                  <span>
              Sub-total
          </span>
                </div>
                <div flex="5" style="text-align: center">
                  <span>:</span>
                </div>
                <div flex="25" style="text-align:start">
                  <span>{{vm.subTotal | currency:"₹":0}}</span>
                </div>
              </div>
            </div>
            <md-divider class="marginTopBottm15"></md-divider>
            <div flex>
              <div flex layout="row">
                <div flex="70" style="text-align: end">
                  <span>
              Shipping
          </span>
                </div>
                <div flex="5" style="text-align: center">
                  <span>:</span>
                </div>
                <div flex="25" style="text-align:start">
                  <span>{{vm.shippingCharge | currency:"₹":0}}</span>
                </div>
              </div>
            </div>
            <md-divider class="marginTopBottm15"></md-divider>
            <div flex>
              <div flex layout="row">
                <div flex="70" style="text-align: end">
                  <span>
              Total
          </span>
                </div>
                <div flex="5" style="text-align: center">
                  <span>:</span>
                </div>
                <div flex="25" style="text-align:start">
                  <span>{{vm.total | currency:"₹":0}}</span>
                </div>
              </div>
            </div>
          </div>
        </md-card-content>
      </md-card>



    </div>
  </section>
</div>

<!--</div>-->
<style>
  .dashImg {
    max-width: 100%;
    border-radius: 10%;
  }
  
  .imgFooter {
    background: none !important;
    color: #000 !important;
    /*padding-top: 05px;*/
  }
  
  .headerProduct {
    text-align: center;
    font-size: 34px;
  }
  
  .textWhiteColor {
    color: #fff;
  }
  
  
  .marginTopBottm15 {
    margin-top: 15px;
    margin-bottom: 15px;
  }
</style>